@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

:root {
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*=============== TOP BAR ===============*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: none;
    letter-spacing: 2px;
}
#logo{
    display: inline-block;
    margin: 5px;
    float: left;
    height: 40px;
    width: auto;
    border-radius: 25%;
}
header ul{
    display: flex;
    justify-content: right;
    align-items: right;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background: #fff;
    color: #2b1055;
}
/*=============== MODAL ===============*/
.modal{
  padding: 1em;
  max-width: 50ch;
  border: 0;
  box-shadow: 0 0 1em rgba(0 0 0 / .3);

  & > *{
    margin: 0 0 0.5rem 0;
  }
}

/*=============== CARD ===============*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
}

.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== small and large devices adjuster ===============*/
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}

/*=============== PARALLAX ===============*/
.c1{
  height: 100vh;
  width: 100%;
  background-image: url(images/sl_011023_55240_03.jpg);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}
.c2{
  height: 100vh;
  width: 100%;
  background-image: url(images/2106.q703.012.F.m004.c5.veterinary\ clinic\ cartoon.jpg);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}
.c3{
  height: 100vh;
  width: 100%;
  background-image: url(images/cute-pets-illustration_53876-112522.jpg);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}
.c4{
  height: 100vh;
  width: 100%;
  background-image: url(images/7757278.jpg);
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

/*=============== SHOP CONTENT ===============*/
.shopcont{
  padding: 15px 9%;
  padding-bottom: 100px;
}
.shopcont .card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.shopcont .card .imgBox{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: floralwhite;
  text-align: center;
  padding: 30px 20px;
}
.shopcont .card .imgBox img{
  height: 250px;
  display: inline-block;
  justify-content: center;
  width: 250px;
}
.shopcont .card .imgBox h3{
  color: black;
  font-size: 22px;
  padding: 10px 0;
}
.shopcont .card .imgBox p{
  color: black;
  font-size: 15px;
  padding: 10px 0;
}
.shopcont .card .imgBox .btn{
  margin-top: 10px;
  display: inline-block;
  background: #ffd900;
  color: black;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}
.shopcont .card .imgBox .btn:hover{
  letter-spacing: 1px;
}
.shopcont .card .imgBox:hover{
  box-shadow: 0 10px 15px (0,0,0,.3);
  transform: scale(1.02);
}
/*=============== APPOINTMENT CONTENT ===============*/
.appcont{
  padding: 15px 9%;
  padding-bottom: 100px;

  align-items: center;
  justify-content: center;
}
.appcont .card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.appcont .card .imgBox{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: floralwhite;
  text-align: center;
  padding: 30px 20px;
}
.appcont .card .imgBox img{
  height: 250px;
  display: inline-block;
  justify-content: center;
  width: 250px;
}
.appcont .card .imgBox h3{
  color: black;
  font-size: 22px;
  padding: 10px 0;
}
.appcont .card .imgBox p{
  color: black;
  font-size: 15px;
  padding: 10px 0;
}
.appcont .card .imgBox .btn{
  margin-top: 10px;
  display: inline-block;
  background: #ffd900;
  color: black;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}
.appcont .card .imgBox .btn:hover{
  letter-spacing: 1px;
}
.appcont .card .imgBox:hover{
  box-shadow: 0 10px 15px (0,0,0,.3);
  transform: scale(1.02);
}
/*=============== ABOUT CONTENT ===============*/
.abcont{
  padding: 15px 9%;
  padding-bottom: 100px;

  align-items: center;
  justify-content: center;
}
.abcont .card{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.abcont .card .imgBox{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: floralwhite;
  text-align: center;
  padding: 250px 150px;
  opacity: 70%;
}
.abcont .card .imgBox h3{
  color: black;
  font-size: 50px;
  padding: 10px 0;
}
.abcont .card .imgBox p{
  color: black;
  font-size: 30px;
  padding: 10px 0;
}
/*=============== BOTTOM CONTENT ===============*/
.footer{
  background: black;
  text-align: center;
}
.footer .credit{
  font-size: 2rem;
  color: azure;
  font-weight: lighter;
  padding: 1.5rem;
}
.footer .card .imgBox img{
  height: 250px;
  display: inline-block;
  justify-content: center;
  width: 250px;
}
.footer .card .imgBox .btn{
  margin-top: 10px;
  display: inline-block;
  background: #000000;
  color: rgb(255, 255, 255);
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}
.footer .card .imgBox .btn:hover{
  letter-spacing: 1px;
}